<% if @note.valid? %>
  $('.js-notes').prepend('<%= j render(@note) %>');
  $('.new-note').html("<%= escape_javascript(render partial: 'notes/form', locals: { noteable: @noteable, note: Note.new }) %>");
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
  $('.new-note').html("<%= escape_javascript(render partial: 'notes/form', locals: { noteable: @noteable, note: @note }) %>");
<% end %>
