<tr>
    <td><%= item_type.name %></td>
    <td><%#= category.build_description %></td>
    <td><%= link_to 'Show', item_type_path(item_type) %> | <%= link_to 'Edit', edit_item_type_path(item_type) %> | <%= link_to 'Delete', item_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
