<h1>ItemType#Edit</h1>
<p><%#= @item_type.substrates %></p>
<%= render 'item_types/form', parent: @item_type %>

<%= link_to 'Show', item_type_path(@item_type) %> |
<%= link_to 'Back', item_types_path %>
