<p id="notice"><%= notice %></p>

<h1>ItemType#index</h1>
<% if @item_types.empty? %>
  <p><strong>No ItemTypes</strong></p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @item_types.each do |item_type| %>
    <%= render 'item_types/item_type', item_type: item_type %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New item_type", new_item_type_path %>
