<tr>
    <td><%= mount_type.mount_description %></td>
    <td><%= link_to 'Show', mount_type_path(mount_type) %> | <%= link_to 'Edit', edit_mount_type_path(mount_type) %> | <%= link_to 'Delete', mount_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
