<h1>MountingType#Edit</h1>
<%= ItemType.original.map {|item| item.properties["painting"]} %>
<%= render 'item_types/form', parent: @mount_type %>

<%= link_to 'Show', mount_type_path(@mount_type) %> |
<%= link_to 'Back', mount_types_path %>
