<h1>MountingType#Edit</h1>
<p><%#= MountType.mounting_filter %></p>
<p><%= @mount_type.mounting_filter %></p>
<%= render 'item_types/form', parent: @mount_type %>

<%= link_to 'Show', mount_type_path(@mount_type) %> |
<%= link_to 'Back', mount_types_path %>
