<tr>
    <td><%= sign_type.sign_description %></td>
    <td><%= link_to 'Show', sign_type_path(sign_type) %> | <%= link_to 'Edit', edit_sign_type_path(sign_type) %> | <%= link_to 'Delete', sign_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
