<h1>DisclaimerType#Edit</h1>

<%= render 'disclaimer_types/form', parent: @disclaimer_type %>

<%= link_to 'Show', disclaimer_type_path(@disclaimer_type) %> |
<%= link_to 'Back', disclaimer_types_path %>
