<p id="notice"><%= notice %></p>

<h2>DisclaimerType#show: <%= @disclaimer_type.category_id %></h2>

<%= link_to 'Edit', edit_disclaimer_type_path(@disclaimer_type) %> |
<%= link_to 'Back', disclaimer_types_path %>
