<div class="field">
  <%= f.label field.name %><br>
  <%= f.select field.name, options_for_select(field.field_values.pluck(:name), parent.properties.try(:[], field.name)), { :include_blank => true }  %>
</div>
