<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Field Values</Data></Cell>
      </Row>
    <% @field_values.each do |field_value| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= field_value.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= field_value.kind %></Data></Cell>
        <Cell><Data ss:Type="String"><%= field_value.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
