<tr>
    <td><%= dim_type.category.name %></td>
    <td><%= link_to 'Show', dim_type_path(dim_type) %> | <%= link_to 'Edit', edit_dim_type_path(dim_type) %> | <%= link_to 'Delete', dim_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
