<h1>DimensionType#Edit</h1>
<%= DimType.paper_dims.pluck(:id) %>
<%= render 'dim_types/form', parent: @dim_type %>

<%= link_to 'Show', dim_type_path(@dim_type) %> |
<%= link_to 'Back', dim_types_path %>
