<tr>
    <td><%#= artist_type.dropdown %></td>
    <td><%= link_to 'Show', artist_type_path(artist_type) %> | <%= link_to 'Edit', edit_artist_type_path(artist_type) %> | <%= link_to 'Delete', artist_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
