<h1>CertificateType#Edit</h1>
<p><%= @cert_type.dropdown %></p>
<p><%#= @cert_type.art_type %></p>
<%= render 'item_types/form', parent: @cert_type %>

<%= link_to 'Show', cert_type_path(@cert_type) %> |
<%= link_to 'Back', cert_types_path %>
