<tr>
    <td><%= edition_type.dropdown %></td>
    <td><%= link_to 'Show', edition_type_path(edition_type) %> | <%= link_to 'Edit', edit_edition_type_path(edition_type) %> | <%= link_to 'Delete', edition_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
