<h1>EditionType#Edit</h1>
<%#= @edition_type.edition_rules.assoc("numbered").drop(1) %>
<%= render 'edition_types/form', parent: @edition_type %>

<%= link_to 'Show', edition_type_path(@edition_type) %> |
<%= link_to 'Back', edition_types_path %>
