<p id="notice"><%= notice %></p>

<h1>EditionType#index</h1>
<% if @edition_types.empty? %>
  <p><strong>No EditionTypes</strong></p>
<% end %>

<%= link_to "New Edition", new_edition_type_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @edition_types.each do |edition_type| %>
      <%= render 'edition_types/edition_type', edition_type: edition_type %>
    <% end %>
  </tbody>
</table>
