<p id="notice"><%= notice %></p>

<h2>EditionType#show: <%= @edition_type.category_id %></h2>

<%= link_to 'Edit', edit_edition_type_path(@edition_type) %> |
<%= link_to 'Back', edition_types_path %>
