<%= f.fields_for :properties, OpenStruct.new(parent.properties) do |builder| %>
  <% properties_list(parent).each do |type| %>
    <div class="form-row">
      <%= f.label obj_to_s(type) %><br>
      <%= f.collection_select obj_to_fk(type), value_list(type), :id, :dropdown, {class: 'form-control', :include_blank => true}, onchange: 'submitform()' %>
    </div>
    <div class="form-group">
      <% if parent.public_send(obj_to_fk(type)).present? %>
        <% parent.public_send(obj_to_s(type)).category.item_fields.where(name: parent.public_send(obj_to_s(type)).category_names).each do |field| %>
        <%= render "items/item_fields/#{field.field_type}", parent: parent, type: type, field: field, f: builder %>
      <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>
