<div class="row">
  <div class="col-2">
    <%= f.label obj_to_s(type) %>
    <%= f.collection_select obj_to_fk(type), value_list(type), :id, :dropdown, {:include_blank => true}, onchange: 'submitform()' %>
    <%#= f.collection_select obj_to_fk(type), type.all, :id, :dropdown, {:include_blank => true}, onchange: 'submitform()' %>
  </div>
</div>
